*.root
pythia/focalPionCorrelation
pythia/Makefile.inc
pythia/output/*
pythia/outputfiles/
pythia/*.log
pythia/macros/STAR-real-pi0-corr
STAR-data
*.zip
*.pdf
*.eps
*.png
*.gif
*.o
Clusterizer/*.log
nanoDict*
*_cxx*
Clusterizer/results
analysis_output*
.vscode
